<div class="main-container">
  <div class="header header-7">
    <div class="branding">
      <a href="#">
        <clr-icon shape="map" class="is-solid is-inverse" size="56"></clr-icon>
        <span class="title">{{ title }}</span>
      </a>
    </div>

    <div class="header-nav">
      <a class="active nav-link nav-text">Dashboard</a>
      <a class="nav-link nav-text">Interactive Analytics</a>
    </div>

    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>About</a>
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </div>

  <div class="content-container">
      <div class="sidenav">
        <employee-list></employee-list>
      </div>
    <div class="content-area" style="padding: 0">
      <map></map>
    </div>
  </div>

</div>
<router-outlet></router-outlet>